#main {
  height: fit-content;
}

#contactUs {
  text-align: center;
}

#content {
  padding: 80px;
  margin-left: 20%;
  display: flex;
  background-color: #b4c6f0;
  width: 20%;
  width: 60%;
}

h2 {
  margin-top: 0px;
  margin-left: 0%;
}

#note {
  font-family: Helvetica;
  padding: 20px;
  background-color: yellowgreen;
  text-align: center;
  color: white;
}

section {
  align-items: center;
  display: block;
  margin: 0 auto;
}

label {
  font-size: large;
}

#username {
  width: 40%;
  height: 23px;
}

#password {
  width: 40%;
  height: 23px;
}

#email {
  width: 40%;
  height: 23px;
}

#description {
  height: 50px;
  width: 40%;
}

#emaillabel {
  margin-right: 2.7%;
}

.container{
  text-align: center;
}
